body{
    width : 80% ;
    margin : auto;
    padding : 10px;
    background-color : #ccc ;
}

.result {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.result p.tweet {
  width: 900px;
  margin: 10px auto;
  background-color: #888;
  border-radius: 10px;
}

.result form label{
    float : left;
    width : 200px;
}

.result p.tweet{
    width: 900px;
    margin : 10px auto;
    background-color : #00b9ff;
    border-radius: 10px ;
}

.result, .result p.tweet{
    clear:both;
    overflow:hidden;
}

.result p.tweet img{
    float: right;
}

.result p.tweet span{
    width : 820px;
    height : auto;
    float:left;
    margin:10px;
}

.result p.tweet span {
  width: 820px;
  height: auto;
  float: left;
  margin: 10px;
  color: white;
}

* {
   box-sizing:border-box;
 }

.container 		{ 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}


.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #00b9ff;
}
input:focus 		{
   outline:none;
 }

label 				 {
  color:#00b9ff; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#00b9ff;
}

.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#00b9ff; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background:#00b9ff; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#00b9ff; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#00b9ff; }
  to 	{ width:0; background:transparent; }
}

.btn {
  
    display: block;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #00b9ff;
    color: #ecf0f1;
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: #00b9ff;
  }
  
  
  .btn span {
    display: block;
    padding: 12px 24px;
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
        
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
  

  
  html {
    height: 100%;
  }
  
  body {
    position: absolute;
    top: 50%;
    left: 50%;
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    background-color: #00b9ff;
    color: #00b9ff;
    font-family: Trebuchet, Arial, sans-serif;
    text-align: center;
  }
  
  h2 {
    font-weight: normal;
  }

  hr {
    display: none;
}
  